:root {
  --primary: #000;
  --secondary: #f5f5f5;
  --offwhite: #F7F7E9;
  --offgreen: #4B7166;
  --offyellow: #F0AD4C;
}

html {
  font-size: calc(100vw / 1920 * 12);
  font-family: 'Roboto Mono', monospace, 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

body{
  background-color: var(--primary);
  color: var(--secondary);
  overflow: hidden;
}

.parent {
  display: grid;
  grid-template-columns: minmax(154px, 1fr) repeat(2, minmax(117px, 1fr)) minmax(35px, 1fr) minmax(128px, 1fr) minmax(113px, 1fr) minmax(196px, 1fr);
  grid-template-rows: minmax(136px, 1fr) minmax(98px, 1fr) repeat(3, minmax(49px, 1fr)) minmax(90px, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  height: 100vh;
}

.bento_intro_row {
  overflow: hidden;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bento_intro h1 .char {
  font-size: 10rem;
  display: inline-block;
}

.bento_container {
  z-index: 10;
  width: 100vw;
}

.bento_box {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  position: relative;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border-radius: 1rem;
  gap: 20px;

  background-color: rgba(48,48,48,0.6);
  transition: background-color 0.32s ease-in-out;
}

/* .bento_box:active {
  background-color: rgba(48,48,48,0.8);
  transition: border-radius 1s ease-in-out;
} */
.bento_box:hover {
  background-color: rgba(255, 255, 255, 0.178);
  transition: border-radius .5s ease-in-out;
}

.bento1, .bento2, .bento3, .bento4, .bento5, .bento6, .bento7, .bento8, .bento9, .bento10, .bento11, .bento12, .bento13, .bento14 {
  width: 100%;
  height: 100%;
}

.bento1 { grid-area: 1 / 1 / 3 / 2; background-color: var(--offgreen)}
.bento2 { grid-area: 3 / 1 / 6 / 3; background-color: var(--offwhite)}
.bento3 { grid-area: 6 / 1 / 7 / 2; background-color: var(--offgreen)}
.bento4 { grid-area: 6 / 2 / 7 / 3; background-color: var(--offwhite)}
.bento5 { grid-area: 1 / 2 / 2 / 4; background-color: var(--offyellow)}
.bento6 { grid-area: 2 / 2 / 3 / 3; background-color: var(--offyellow); display:flex; flex-direction: column; justify-content: center; align-items: center; }
.bento7 { grid-area: 2 / 3 / 5 / 6; background-color: var(--offwhite)}
.bento8 { grid-area: 5 / 3 / 7 / 5; background-color: var(--offyellow)}
.bento9 { grid-area: 5 / 5 / 7 / 6; background-color: var(--offwhite)}
.bento10 { grid-area: 1 / 4 / 2 / 6; background-color: var(--offgreen)}
.bento11 { grid-area: 1 / 6 / 2 / 8; background-color: var(--offwhite)}
.bento12 { grid-area: 2 / 6 / 4 / 7; background-color: var(--offwhite)}
.bento13 { grid-area: 2 / 7 / 4 / 8; background-color: var(--offgreen)}
.bento14 { grid-area: 4 / 6 / 7 / 8; background-color: var(--offgreen)}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  font-size: 10px;
  position: relative;
  height: 3.5em;
  width: 7em;
  border: 0px solid transparent;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(0.3em, 0.25em);
  position: absolute;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(3.65em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(2em, 2em) rotate(-15deg);
}

@media screen and (max-width: 915px) {
  .parent {
    grid-template-columns: minmax(154px,1fr) repeat(2, minmax(117px,1fr)) minmax(85px,1fr) minmax(128px,1fr);
  }

  .bento1 { grid-area: 2 / 2 / 5 / 5; background-color: var(--offwhite); }
  .bento2 { grid-area: 1 / 1 / 2 / 2; background-color: var(--offyellow);}
  .bento3 { grid-area: 1 / 4 / 2 / 6; background-color: var(--offgreen);}
  .bento4 { grid-area: 1 / 3 / 2 / 4; background-color: var(--offwhite);}
  .bento5 { grid-area: 1 / 2 / 2 / 3; background-color: var(--offgreen);}
  .bento6 { grid-area: 5 / 1 / 7 / 3; background-color: var(--offyellow);}
  .bento7 { grid-area: 2 / 1 / 3 / 2; background-color: var(--offgreen);}
  .bento8 { grid-area: 2 / 5 / 4 / 6; background-color: var(--offwhite);}
  .bento9 { grid-area: 4 / 5 / 5 / 6; background-color: var(--offyellow);}
  .bento10 { grid-area: 3 / 1 / 4 / 2; background-color: var(--offwhite);}
  .bento11 { grid-area: 4 / 1 / 5 / 2; background-color: var(--offgreen);}
  .bento12 { grid-area: 5 / 3 / 7 / 5; background-color: var(--offgreen);}
  .bento13 { grid-area: 5 / 5 / 6 / 6; background-color: var(--offyellow);}
  .bento14 { grid-area: 6 / 5 / 7 / 6; background-color: var(--offgreen);}
}

@media screen and (max-height: 560px) and (max-width: 915px) {
  .parent {
    grid-template-columns: minmax(154px, 1fr) repeat(2, minmax(117px, 1fr));
    grid-template-rows: minmax(136px, 1fr) minmax(98px, 1fr) repeat(2, minmax(49px, 1fr));
  }

  .bento1 { grid-area: 1 / 1 / 3 / 3; }
  .bento2 { grid-area: 3 / 1 / 5 / 3; }
  .bento3 { grid-area: 1 / 3 / 3 / 4; }
  .bento4 { grid-area: 3 / 3 / 4 / 4; }
  .bento5 { grid-area: 4 / 3 / 5 / 4; }
  .bento6, .bento7, .bento8, .bento9, .bento10, .bento11, .bento12, .bento13, .bento14 { display: none; }
}
